{% extends 'base.html' %}
    {% block content %}
        <div class="container">
            <br>
            {% for message in get_flashed_messages(category_filter=['wedding']) %}
                <h4 class="alert alert-danger alert-dismissible fade show">{{ message }}</h4>
            {% endfor %}
            <br>
            <form class="p-4 border shadow gap-0" action="/create/wedding" method="POST">
              <input type="hidden" value="{{user.id}}" name="user_id">
              <div class="mb-3">
                <label for="wedding_side" class="form-label">Wedding</label>
                <div class="col-sm-10">
                  <select required class="form-select" name="wedding_side" aria-label="Default select example">
                      <option selected value="Select Wedding Side">Select Wedding Side</option>
                      <option value="bride">Bride</option>
                      <option value="groom">Groom</option>
                    </select>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
                <!-- <div class="row mb-3">
                    <input type="hidden" value="{{user.id}}" name="user_id">               
                    <label for="wedding_side" class="form-control col-sm-2 col-form-label">Wedding Side:</label>
                  <div class="col-sm-10">
                    <select required class="form-select" name="wedding_side" aria-label="Default select example">
                        <option selected value="Select Wedding Side">Select Wedding Side</option>
                        <option value="bride">Bride</option>
                        <option value="groom">Groom</option>
                      </select>
                  </div>
                  <label for="meal" class="col-sm-2 col-form-label">Meal:</label>
                  <div class="col-sm-10">                   
                    <select class="form-select" name="meal" aria-label="Default select example">
                      <option selected value="Select Meal">Select Meal</option>
                        <option value="chicken">Chicken</option>
                        <option value="steak">Steak</option>
                        <option value="vegan dish">Vegan Dish</option>
                        <option value="kids meal">Kid's meal</option>
                    </select>
                  </div>
                  <label for="drink" class="col-sm-2 col-form-label">Drink:</label>
                  <div class="col-sm-10">
                    <select class="form-select" name="drink" aria-label="Default select example">
                        <option selected>Select Drink Choice</option>
                        <option value="wine">Wine</option>
                        <option value="coke">Coke</option>
                        <option value="burbon">Burbon</option>
                        <option value="water">Water</option>
                        <option value="kidsdrink">Kid's drink</option>
                    </select>
                  </div>
                  <label for="favorite_memory" class="col-sm-2 col-form-label">Favorite Memory:</label>
                  <div class="col-sm-10 form-floating">
                    <textarea class="form-control" name="favorite_memory" placeholder="Leave your favorite memory here..." id="floatingTextarea favorite_memory"></textarea>
                    <label for="floatingTextarea">Leave your favorite memory here...</label>
                  </div>
              </div>
              <input type="submit" class="btn btn-primary" value="Add RSVP"> -->
            </form>
        </div>


     {% endblock %}