<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-md">
        <a class="h1 navbar-brand fs-1 " href="/dashboard">Wedding Dojo</a>
        <div class="navbar" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" style="gap: 15px;">
              <li class="nav-item">
                  <a href="/dashboard" class="fs-5 btn btn-info">Dashboard</a>
              </li>
              <li class="nav-item">
                  <a href="/logout" class="fs-5 btn btn-outline-danger">Log Out</a>
              </li>
            </ul>
        </div>
    </div>
  </nav>